*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: 'Lato', sans-serif;
   }
   .py-5 , .py4{
       padding: 10px 0 !important;
   }
   .btn:focus{
       box-shadow: none;
   }
   
   .btn{
       outline: none !important;
   }
   a:hover{
       text-decoration: none;
   }
   .topbar-row{
       align-items: center;
   }
   .user-icon{
       display: inline-block;
       height: 30px;
       width: 30px;
       background: #d6d6d6;
       color: #d5652c;
       border-radius: 50%;
       position: relative;
       margin-left: 20px;
   }
   .user-icon-btn span{
       margin-left: 5px;
       color: #363636;
       font-weight: 400;
       font-size: 13px;
   }
   .fa-user{
       top: 50%;
       position: absolute;
       left: 50%;
       transform: translate(-50%, -50%);
   }
.topbar-right , .topbar-middle{
    display: flex;
    align-items: center;
}
form{
    display: flex;
    width: 100%;
}
.search-box{
    outline: none;
    width: 70%;
    padding: 5px 0;
    padding-left: 10px;
    border: 1px solid #666;
    border-radius: 5px 0 0 5px;
    font-size: 13px;
    font-weight: 400;
    color: #363636;
}
.search-class{
    background-color: #d5652c;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    font-size: 13px;
    font-weight: 400;
}
.search-class:hover{
    color: #fff;
}
.search-class i{
    margin-right: 5px;
}

.user-icon-btn{
    display: flex;
    align-items: center;
}
.topbar-middle-special{
    display: none;
}
.cart-btn{
    background-color: #73c7ae;
    color: #fff;
    font-weight: 400;
    font-size: 13px;
}
.cart-btn i{
    margin-right: 5px;
}
/* nav */
.nav-bg{
    background-color: #d5652c;
}
.nav-item{
    transition: 500ms;
}
.nav-item a{
    font-size: 14px;
    font-weight: 400;
    color: #fff !important;
    transition: 300ms;
}
.cart-btn:hover{
    color: #fff;
}
.navbar-toggler-right{
    border: none;
    outline: none !important;
}


.nav-item:hover a{
    color: #1c325a !important;
}
/* nav */
/* banner */
.banner{
    margin-bottom: 20px;
}


/* banner */

/* catagories */
.catagories{
    margin-bottom: 40px;
    width: 100%;
    background-color: #eeeeee;
}
.box{
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
}
.box-text{
    position: absolute;
    width: 100%;
    bottom: 0px;
    text-align: center;
    color: #fff;
}
.box img{
    width: 100%;
    transition: 600ms;
}
.box h3{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 0;
}
.box h5{
    font-size: 14px;
    padding-bottom: 5px;
}
.box:hover img{
    transform: scale(1.2);
}

/* catagories */

/* product-1 */
.trend-head{
    padding: 30px 0;
}
.trend-head h4{
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: #363636;
    margin-right: 15px;
}
.trend-head a{
    background-color: #1c325a;
    color: #fff;
    padding: 3px 18px;
}
.trend-head a:hover{
    color: #d5652c;
}
.trend-item{
    position: relative;
    width: 100%;
    text-align: center;
    border: 1px solid #66666685;
    overflow: hidden;
}
.trend-item img{
    width: 75% !important;
    margin: 0 auto;
}
.trend-item h5{
    font-size: 16px;
    color: #363636;
    font-weight: 700;
}
.trend-item p{
    font-size: 16px;
    color: #363636;
    font-weight: 400;
}
.trend-item p span{
    font-size: 16px;
    color: #1c325a;
    font-weight: 700;
    margin-left: 5px;
}
.trend-item h6{
    font-size: 20px;
    color: #d5652c;
    font-weight: 700;
}
.trend-crsl-1{
    padding: 10px 0 40px 0;
}
.trend-crsl-1 .owl-nav{
   display: inline;
   position: absolute;
   top: -20%;
   right: 0;
}
.trend-crsl-1 .owl-nav button{
    outline: none;
}
.trend-crsl-1 .owl-nav button:hover{
    background: none !important;
    color: #FFF;
    text-decoration: none;
}
.trend-crsl-1 .owl-nav span{
    background: #1c325a;
    color: #fff;
    padding: 0px 14px !important;
    font-size: 28px;
    font-weight: bold;
    transition: 400ms;
}
.trend-crsl-1 .owl-nav span:hover{
    color: #d5652c;
}
.sale-box{
    display: flex;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d5652c;
    top: 10px;
    left: 10px;
}
.sale-box p{
    color: #fff;
    margin: auto auto;
}
.trend-crsl-1 .trend-item-hover{
    position: absolute;
    background-color: rgba(25, 25, 25, 0.69);
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    transition: 400ms;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.trend-crsl-1 .trend-item:hover .trend-item-hover{
    left: 0%;
    transition: 400ms;
}
.by-now{
    color: #fff;
    background-color: #d5652c;
    width: 70%;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}
.ad-to-cart{
    color: #fff;
    background-color: #1c325a;
    width: 70%;
    font-size: 15px;
    font-weight: 400;
}
.ad-to-cart:hover , .by-now:hover{
    text-decoration: underline;
    color: #fff;
}
.trend-crsl-1 .owl-dot span{
    background-color: #d5652c !important;
    width: 12px !important;
    height: 12px !important;
}
.owl-dot.active span{
    background-color: #1c325a !important;
}
/* product-1 */

/* product-2 */
.trend-crsl-2 .trend-item-hover{
    position: absolute !important;
    background-color: rgba(25, 25, 25, 0.69) !important;
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    right: -100% !important;
    left: 100%;
    transition: 400ms !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}
.trend-crsl-2 .trend-item:hover .trend-item-hover{
    right: 0% !important;
    transition: 400ms !important;
}
.product-2{
    margin-bottom: 30px;
}
/* product-2 */
/* about */

.about{
    padding: 25px 0;
    background-color: #1c325a;
    color: #fff;
    margin-bottom: 2px;
}
.about img{
    margin-bottom: 15px;
}
.about h6{
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
}
.about p{
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}
.about-row{
    align-items: baseline;
}
.about-item{
    margin-bottom: 15px;
}


/* about */

/* footer  */
.footer{
    padding: 50px 0;
    background-color: #dedede;
}
#more {display: none; transition: 400ms !important;}
#dots{transition: 400ms !important;}
.readmore-btn{
    position: absolute;
top: 85%;
right: 4%;
border: none;
outline: none !important;
background-color: #dedede;
font-size: 13px;
font-weight: 700;
color: #6a6a6a;
}
.footer-item-1 h3{
    font-size: 16px;
    font-weight: 400;
    color: #6a6a6a;
    margin-bottom: 20px;
}
.footer-item-1 p{
    font-size: 14px;
    color: #6a6a6a;
    font-weight: 400;
    line-height: 20px;
    text-align: justify;
}
.list-footer h5{
    font-size: 16px;
    font-weight: 400;
    color: #6a6a6a;
    margin-bottom: 18px;
}
.list-footer ul{
    list-style: none;
    margin: 0 0 15px 0;
}
.list-footer ul li a{
    color: #6a6a6a;
    font-size: 12px;
    font-weight: 400;
    transition: 200ms;
}
.list-footer ul li a:hover{
    color: #1c325a;
}
.readmore-btn{
    transition: 400ms !important;
}
.email-box-wraper{
    display: flex;
    align-items: center;
}
.enter-email{
width: 70%;
height: 30px;
font-size: 12px;
font-weight: 400;
color: #6a6a6a;
padding-left: 8px;
outline: none;
border: 1px solid #858585;
background-color: #dedede;
border-radius: 5px 0 0 5px;
}
.email-btn{
    background-color: #d5652c;
    border-radius: 0 5px 5px 0;
    padding: 5px 14px;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}
.email-btn:hover{
    color: #fff;
}
/* footer */
/* copyright */
.copyright-part{
    padding: 8px 0;
    background-color: #d3d3d3;
    color: #7d7c7c;
    font-size: 14px;
    font-weight: 400;
}
.copyright-part p{
    margin: 0;
}
/* copyright */








@media only screen and (max-width: 992px) {
    .topbar-middle-special{
        display: flex !important;
        justify-content: center;
    }
    .topbar-middle{
        display: none;
    }
    .topbar-right{
        justify-content: flex-end;
    }
    .logo{
        margin-bottom: 10px;
    }
    form{
        justify-content: center;
    }
  }
  @media only screen and (max-width: 768px){
      .about-row{
        text-align: center;
        width: 70%;
        margin: 0 auto;
      }
      .list-footer h5{
          margin-bottom: 8px;
      }
  }






















































